*{
  box-sizing: border-box;
}

html { 
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: #fff;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  overflow-x: hidden;
}

/* UTILITY CLASSES ---------------------- */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.reversed {
  flex-direction: row-reverse;
  }

/* MAIN STYLES ------------------ */


li {
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

a:hover{
  color: #ffd150;
}

/* HEADER */
header{
  position: relative;
  padding: 0 2rem;
  background-color: #3d3d3d;
}

.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.links{
  background-color: #212121;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
}


.navbar .links{
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn{
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn{
  color: black;
  padding: 0.5rem 1rem;
  border:none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale .2 ease;
  background: linear-gradient(180deg, #ffd150, rgba(255, 209, 80, 0.49) 99.99%, rgba(255, 209, 80, 0));
  box-shadow: -7px -7px 10px rgba(255, 255, 255, 0.25), 10px 10px 12px rgba(0, 0, 0, 0.25);

}

.action-btn:hover{
  scale: 1.05;
  color: white;
}

.action-btn:active{
  scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  height: 0;
  top: 60px;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 240px;
}


.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}
/* RESPONSIVE DESIGN */
@media(max-width: 992px){
  .navbar .links,
  .navbar .action_btn {
      display: none;
  }

  .navbar .toggle_btn{
      display: block;
  }

  .dropdown_menu{
      display: block;
  }
}

@media(max-width: 576px) {
  .dropdown_menu{
      left: 2rem;
      width: unset;
  }
}




/*  HERO */
 
  p{
   font-weight: 500;
   font-size: 18px;
  }

  .hero-text {
      text-align: center;
      margin: 10px auto;
      max-width: 70%;
      /*max-width: 32ch;*/
    }

    @media (max-width: 1200px){
      .hero-text{
        max-width: 80%;
      }
    }

  h1{
      font-size: 32px;
      font-weight: 500;
  }

  h2{
    font-size: 26px;
    font-weight: 600;
  }
 
  h3{
      font-size: 20px;
      display: flex;
      text-align: center;
      margin-top: 80px;
      margin-bottom: 40px;
  }

  button{
   font-size: 18px;
   font-weight: 500;
  }

  .btn {
      padding: 10px 20px;
      width: 200px;
      width: 20vw;
      min-width: 200px;
      margin: 20px;
      border-radius: 12px;
      font-weight: bold;
      border: none;
    }
  
    .btn:hover {
      cursor: pointer;
    }
  
    .primary {
      /*background-image: linear-gradient(to bottom, #FFD150, #d49e08);*/
      background: linear-gradient(180deg, #ffd150, rgba(255, 209, 80, 0.49) 99.99%, rgba(255, 209, 80, 0));
      box-shadow: -7px -7px 10px rgba(255, 255, 255, 0.25), 10px 10px 12px rgba(0, 0, 0, 0.25);
    }
    
  .secondary {
      background-image: linear-gradient(to bottom, #777676, #3d3745);
      color: whitesmoke;
  }

  .hero-image{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .block-text{
      margin: 20px;
      max-width: 45%;
  }


  @media (max-width: 500px){
    .first-btns{
      display: flex;
      flex-direction: column;
    }
  }

  /* Ensures that the parent container is a flex container */
.content-three {
display: flex;
justify-content: space-between; /* This will space out the children evenly */
align-items: center; /* This aligns the children vertically in the center */
flex-direction: row-reverse; /* Reverses the order of flex items (because of the "reversed" class) */
padding: 20px; /* Adds some padding around the content */
}

/* Styling for the text block */
.block-text {
flex: 1; /* Allows the text block to grow and take up equal space */
padding: 0 20px; /* Adds some padding for spacing */
}

/* Styling for the image container */
.content-img-three {
flex: 1; /* Allows the image container to grow and take up equal space */
display: flex;
justify-content: center; /* Centers the image horizontally */
align-items: center; /* Centers the image vertically */
padding: 0 20px; /* Adds some padding for spacing */
}

/* Additional styling for the image to ensure it's responsive and doesn't overflow its container */
.image-seven {
max-width: 100%;
height: auto;
}

.hero-block-one{
display: flex;
justify-content: space-between; 
align-items: center; 
padding: 20px;
}

.hero-block-img-one{
flex: 1 ; 
display: flex;
justify-content: center;
align-items: center; 
padding: 0px; 
}

.image-two{
max-width: 100%;
height: auto;
}

.hero-block-two{
display: flex;
justify-content: space-between; 
align-items: center; 
flex-direction: row-reverse; 
padding: 20px; 
}

.hero-block-img-two{
flex: 1; 
display: flex;
justify-content: center; 
align-items: center; 
padding: 0 20px; 
}

.image-three{
max-width: 100%;
height: auto
}

.hero-block-three{
display: flex;
justify-content: space-between; 
align-items: center; 
padding: 20px;
}

.hero-block-img-three{
flex: 1; 
display: flex;
justify-content: center;
align-items: center; 
padding: 0 20px; 
}

.image-four{
max-width: 100%;
height: auto;
}

.content-one{
display: flex;
justify-content: space-between; 
align-items: center; 
flex-direction: row-reverse; 
padding: 20px; 
}

.content-image-one{
position: relative;
flex: 1; 
display: flex;
justify-content: center; 
align-items: center; 
padding: 0 20px; 
}

.boss{
  position: relative;
  top: 5%;
  left: 20%;
}

@media(max-width:768px){
  .boss{
    position: relative;
    top: 5%;
   /* left: -15%;*/
   left: 6%;
  }
}

@media(max-width:500px){
  .boss{
    position: relative;
    top: 5%;
    left: -15%;
  }
}

.collab-img{
  position: relative;
  top: 2%;
  right: 10%;
}


@media ( max-width:768px){
  .collab-img{
    width: 320px;
    height: auto;
  }
}
.man-one{
  position: relative;
  top: 2%;
  right: 10%;
}

.image-five{
max-width: 100%;
height: auto
}


.content-two{
display: flex;
justify-content: space-between; 
align-items: center; 
padding: 20px;
}

.content-img-two{
flex: 1; 
display: flex;
justify-content: center;
align-items: center; 
padding: 0 20px; 
}

.image-six{
max-width: 100%;
height: auto;
}
  
  .image-w-icons{
      width: 350px;
      height: 350px;
  }

.card-container {
  padding-top: 250px;
  margin-top: 30px;
  margin-bottom: 80px;
  color: whitesmoke;
}

.card-holder {
  position: relative;
  background-color: #4d4949;
  max-width: 800px;
  z-index: 0;
  padding: 30px 36px 20px 36px;
  border-radius: 16px;
}

.card-container .image-icons {
  z-index: 10;
  position: absolute;
  top: -280px;
}

.oscar {
  text-align: center;
  margin-top: 140px;
}

.descriptor {
  max-width: 36ch;
  text-align: center;
  margin-bottom: 60px;
}

.final-sale {
  background-color: rgba(255, 209, 80, 0.9);
  box-shadow: 0px 39px 56px -36px rgba(255, 255, 255, 0.5) inset, 0px 7px 11px -4px #fffafa inset, 0px -82px 68px -64px rgba(96, 68, 144, 0.3) inset, 0px 98px 100px -48px rgba(202, 172, 255, 0.3) inset, 0px 98px 100px -48px rgba(202, 172, 255, 0.3) inset, 0px 4px 18px rgba(154, 146, 210, 0.3) inset;
  backdrop-filter: blur(100px);
  color: #111;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.save-text {
  padding: 40px;
  color: #111;
  text-align: center;
  max-width: 56ch;
}

.btn-container {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}


@media screen and(max-width: 500px) {
  .btn .secondary{
    width: 200px;
  }
  .btn-container{
  width: 100%;
  }
}

@media (max-width: 768px){
  .final-btns{
    display: block;
  }

}

.final-btns {
width: 100%;
}

@media (max-width: 768px){
.final-btns{
  display: block;
}

}

.rounded-btn-holder {
  margin-left: auto; 
}

.secondary.rounded {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 30px;
  font-size: 20px;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}

@media screen and(max-width: 500px) {
.btn .secondary{
  width: 200px;
}
.btn-container{
width: 100%;
}
}


footer {
  background-color: #3d3d3d;
  color: whitesmoke;
  padding: 40px;
}

/* Footer styles */
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sign-off {
  gap: 20px;
}

.socials {
  gap: 20px;
  color: whitesmoke;
}

.footer-wrapper > div {
  flex: 1 1 200px; 
  margin-right: 20px; 
}

.footer-wrapper div p a { 
  color: whitesmoke;
  text-decoration: none;
  font-size: 14px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .footer-wrapper > div {
    flex-basis: calc(50% - 40px);
    gap: 40px; 
  }
}

@media screen and (max-width: 480px) {
  .footer-wrapper > div {
    flex-basis: 100%; 
  }
}

.hero-block-one > * {
  flex: 1 1 80%; 
  max-width: 55%;
  }

.hero-block-two > * {
  flex: 1 1 75%; 
  max-width: 45%;
  }

.hero-block-three > * {
  flex: 1 1 75%; 
  max-width: 45%;
  }

.content-one > * {
  flex: 1 1 75%; 
  max-width: 55%;
  }
.content-two > * {
  flex: 1 1 75%; 
  max-width: 45%;
  }  
.content-three > * {
  flex: 1 1 75%; 
  max-width: 45%;
  }      
/* Styling for responsiveness*/
/*@media (max-width:900px){
.block-text{
max-width: 100%;
}
}*/

@media (max-width: 768px){
  .hero-text {
    max-width: 85%;
     }
     .image-one{
      width: 400px;
      height: 400px;
     }

     .content-three{
      display: flex;
      justify-content: center;
      align-items: center; /* This aligns the children vertically in the center */
      flex-direction: row-reverse; /* Reverses the order of flex items (because of the "reversed" class) */
      flex-wrap: wrap;
      padding: 20px; /* Adds some padding around the content */
     }

     .content-two{
      display: flex;
      justify-content: center;
      align-items: center; /* This aligns the children vertically in the center */
      flex-wrap: wrap;
      padding: 20px; /* Adds some padding around the content */
     }

     .content-one{
      display: flex;
      justify-content: center;
      align-items: center; /* This aligns the children vertically in the center */
      flex-direction: row-reverse; /* Reverses the order of flex items (because of the "reversed" class) */
      flex-wrap: wrap;
      padding: 20px; /* Adds some padding around the content */
     }

     .hero-block-three{
      display: flex;
      justify-content: center;
      align-items: center; /* This aligns the children vertically in the center */
      flex-wrap: wrap;
      padding: 20px; /* Adds some padding around the content */
     }
   
     .hero-block-two{
      display: flex;
      justify-content: center;
      align-items: center; /* This aligns the children vertically in the center */
      flex-direction: row-reverse; /* Reverses the order of flex items (because of the "reversed" class) */
      flex-wrap: wrap;
      padding: 20px; /* Adds some padding around the content */
     }

     
     .hero-block-one{
      display: flex;
      justify-content: center;
      align-items: center; /* This aligns the children vertically in the center */
      flex-wrap: wrap;
      padding: 20px; /* Adds some padding around the content */
     }

     .image-one{
      width: 250px;
      height: 250px;
     }


    
.hero-block-one > * {
  flex: 1 1 80%; 
  max-width: 85%;
  }

.hero-block-two > * {
  flex: 1 1 75%; 
  max-width: 85%;
  }

.hero-block-three > * {
  flex: 1 1 75%; 
  max-width: 85%;
  }

.content-one > * {
  flex: 1 1 75%; 
  max-width: 85%;
  }
.content-two > * {
  flex: 1 1 75%; 
  max-width: 85%;
  } 
  .content-three > *{
    flex: 1 1 75%;
    max-width: 85%;
  }
  .block-text{
    padding: 0px;
  }
  h2{
    font-size: 26px;
    font-weight: 600;
  }

  p{
    font-weight: 500;
    font-size: 24px;
   }
 
} 












